<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com._1c.g5.v8.dt.bsl.ui.externalQuickfixProvider">
      <externalQuickfixProvider
            class="org.mard.dt.bsl.validation.ui.StructureCtorTooManyKeysQuickfixProvider">
      </externalQuickfixProvider>
   </extension>

</plugin>
